@font-face {
  font-family: "KL1_ Monocase Serif";
  src: url("./fonts/KL1MonocaseSerif.woff2") format("woff2"),
    url("./fonts/KL1MonocaseSerif.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #979797;
  padding: 0 10px;
  background: #010101;
  text-align: center;
  font-family: 'KL1_ Monocase Serif', Didot, Garamond, serif;
}
h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: 100;
}

